[alias] 
	branchDefault = "! \
 		git remote set-head origin -a > /dev/null \
		&& git rev-parse --abbrev-ref origin/HEAD \
		| sed 's#origin/##'" ## print the default branch of this repo, first command asks the remote if the default branch was changed
	branchremove = "!git branch --remote -d ${1} ; git push origin --delete ${1} #"
	diffprev = diff HEAD^
#

#


#

#
[credential]
	komentarz = "ciekawe lini o .netrc pod https://stackoverflow.com/questions/6031214/git-how-to-use-netrc-file-on-windows-to-save-user-and-password "
	helper = cache --timeout=267840

#

[diff]
	tool = meld # or maybe vs code
	context = 4
[fetch]
       pruneTags = true
       output = compact
[gc]
       auto = 6000 ## by default 6700

#
[help]
	autocorrect = 30  ## 3 seconds before correction runs
[protocol]
	version = 2
[pull]
	rebase = true
